pages:
  stage: deploy
  image: python:latest
  script:
    - pip install zensical
    - zensical build --clean At the moment, we do not recommend using caches on CI systems as the caching
    functionality will undergo revisions as we optimize the performance of
    Zensical.
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'